doctype html
html
  head
    title imran dance academy
    block style
    block scripts
      
  body
    nav#navbar
        ul#list
            div#logo 
                img(src="/static/img/man-305084_1280.png")
            li #[a(href="/") home]
            li #[a(href="/") about]
            li #[a(href="/contact") contect]
            li #[a(href="/") more]
            
    block content
    block foot
      